<p id="notice"><%= notice %></p>

<h1>Lesson Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lesson_subjects.each do |lesson_subject| %>
      <tr>
        <td><%= lesson_subject.lesson_id %></td>
        <td><%= lesson_subject.subject_id %></td>
        <td><%= link_to 'Show', lesson_subject %></td>
        <td><%= link_to 'Edit', edit_lesson_subject_path(lesson_subject) %></td>
        <td><%= link_to 'Destroy', lesson_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson Subject', new_lesson_subject_path %>
